/* ! body */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ! root dir */
:root{
    --index: calc(1vw + 1vh);
}


/* ! main */
main{
    background-color: #212529;
    overflow: hidden;
}

/* * bildborad */
.bildborad{
    height: 50vh;
    position: relative;
    box-shadow: 0 20px 40px #191919;
    z-index: 1;
}
.navbar-brand{
    color: wheat !important;
}
.slogan{
    position: absolute;
    top: 40%;
    left: 55%;
    font-size: calc(var(--index) * 2);
    font-family: 'Acme', sans-serif; 
    color: rgb(255, 236, 252);
}
.slogan > p {
    margin: 0;
    text-align: center;
}
.slogan-sub-text{
    font-size: calc(var(--index) * 0.7);
    
}

/* * main-content */
.main-content{
    display: flex;
    height: 100vh;
    padding-bottom: 50px;
    position: relative;
}
.cards{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
    justify-content: center;
    color: wheat;
    z-index: 1;
}
.cards > div {
    box-shadow: 0 0 50px 0 rgb(0, 0, 0, 0.5); 
    border-radius: 5px;
    font-size: calc(var(--index)*0.6);
    position: relative;

    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--index) * 3);
    transition: all 0.4s ease-in-out;
}
.flavors{
    grid-area: 1 / 1 / 3 / 1;
}
.nutrition{
    grid-area: 1 / 2 / 3 / 4;
}
.main-info{
    grid-area: 3 / 1 / 5 / 4;
}

.backgroundImg1{
    position: absolute;
    width: calc(var(--index) * 1.5 * 20);
    height: calc(var(--index) * 1.70 * 20);
    top: calc(var(--index) * 14);
    left: calc(var(--index) * 0);
    rotate: 30deg;
    transform: scale(1.3);
}
.backgroundImg2{
    position: absolute;
    width: calc(var(--index) * 1.5 * 10);
    height: calc(var(--index) * 1.70 * 10);
    top: calc(var(--index) * -5);
    left: calc(var(--index) * 40);
    rotate: 130deg;
    transform: scale(1.3);
}


h4{
    font-size: calc(var(--index)* 1) !important;
}

.cards > div:hover{
    color: #000000;
}
.cards > div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(rgb(255, 255, 255),rgb(238, 214, 169),rgb(238, 169, 169), rgb(122, 122, 215));
    opacity: 0;
    transition: all 2s;
}
.cards > div:hover::before{
    opacity: 1;
    z-index: -1;
}


/* ! footer */
footer{
    color:wheat;
    background-color: #1b1e20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--index) * 3);
}
small{
    font-size: calc(var(--index) * 0.6) !important;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-logo{
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.70);
}
.footer-img {
    width: calc(var(--index) * 1.5);
}

.contact a{
    text-decoration: none !important;
}
